<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Redirect everything under api routes to the apporpriate router
    # Taken from:
    # https://stackoverflow.com/questions/39185802/configuring-htaccess-file-to-serve-angular-and-api-routes
    # https://stackoverflow.com/questions/26299133/how-can-i-redirect-api-requests-to-another-file
    RewriteRule ^api/ api-router.php [L,NC]


    # Excludes existing directories and files
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Handle Front Controller...
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule ^views/ = [F,L]

</IfModule>