<include href="views/header.html" />

<body>
<include href="views/navbar.html" />

<!-- Content goes here -->

<div class="container short_container">
    <div class="loginBox mw-100">
        <h1>Game insertion form</h1>
        <form action="#" method="post" id="gameForm">
            <div class="row">
                <div class="col-12">
                    <label for="title"><h4>Title</h4></label>
                    <input type="text" class="form-control" id="title" name="gameName">
                    <span class="jsErr" id="err-title">Please enter a valid title</span>
                    <check if="{{ isset(@errors['title']) }}">
                        <span class="err">{{ @errors['title'] }}</span>
                    </check>
                </div>
            </div><br>
            <div class="row">
                <div class="col-12">
                    <label for="description"><h4>Description</h4></label>
                    <textarea class="form-control" id="description"
                              name="description" rows="3" maxlength="255"></textarea>
                    <span class="jsErr" id="err-description">Please enter a valid description</span>
                    <check if="{{ isset(@errors['description']) }}">
                        <span class="err">{{ @errors['description'] }}</span>
                    </check>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <label for="genre"><h4>Genre</h4></label>
                    <input type="text" class="form-control" id="genre" name="genre">
                    <span class="jsErr" id="err-genre">Please enter a valid genre</span>
                    <check if="{{ isset(@errors['genre']) }}">
                        <span class="err">{{ @errors['genre'] }}</span>
                    </check>
                </div><br>
                <div class="col-md-12 col-lg-6">
                    <label for="platforms"><h4>Platform</h4></label>
                    <div class="d-flex align-content-start flex-wrap" id="platforms">
                        <repeat group="{{ @platforms }}" key="{{ @key }}" value="{{ @value }}">
                            <div class="form-check px-3 py-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"
                                           name="platforms[]" value="{{ @key }}">{{ @value }}
                                </label>
                            </div>
                        </repeat>
                    </div>
                    <span class="jsErr" id="err-platform">Please select at least one platform</span>
                    <check if="{{ isset(@errors['platform']) }}">
                        <span class="err">{{ @errors['platform'] }}</span>
                    </check>
                </div><br>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary mt-2 w-100">Add game</button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>

<include href="views/footer.html" />
<include href="views/global-scripts.html" />
<script src="/game-tracker/scripts/validateGame.js"></script>
</body>
</html>