<include href="views/header.html" />

<body>
<include href="views/navbar.html" />

<!-- Content goes here -->
<div class="container" id="carousel_container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-imageContainer">
                    <img class="d-block w-100" src="/game-tracker/images/biomutant.jpg" alt="BioMutant">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Biomutant</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-imageContainer">
                    <img class="d-block w-100" src="/game-tracker/images/deathloop.jpg" alt="DeathLoop">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Deathloop</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-imageContainer">
                    <img class="d-block w-100" src="/game-tracker/images/ratchet.jpg" alt="Ratchet and Clank: A Rift Apart">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Ratchet & Clank</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-imageContainer">
                    <img class="d-block w-100" src="/game-tracker/images/farcry6.jpg" alt="Far Cry 6">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h3>Far Cry 6</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="row loginBox mt-1 mb-2 mw-100">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <a class="btn btn-primary" href="/game-tracker/registration">
                Create an account!
            </a>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <form method="get" action="/game-tracker/profile">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a profile...">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section>
                <h3>News</h3><hr>
                <ul class="list">
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Elden Ring finally gets announced, releases January 2022
                                </h4>
                                <p>A lowly Tarnished... I command thee, kneel!</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    The Crew 2 has surpassed 30 million players, season 3 commences in July
                                </h4>
                                <p>Fourth year of content incoming</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Doki Doki Literature Club hits consoles June 30th
                                </h4>
                                <p>Anime dating meets psychological horror</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Far Cry 6 will include "Become the Villain" DLC
                                </h4>
                                <p>Play as Vaas, Pagan Min, and Joseph Seed</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Assassins Creed Valhalla will be getting another year of DLC
                                </h4>
                                <p>More viking adventures to come</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Call of Duty: Warzone season four kicks off next week
                                </h4>
                                <p>"The sky  is falling..."</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section>
                <h3>Upcoming</h3><hr>
                <ul class="list">
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Mario Golf: Super Rush
                                </h4>
                                <p>June 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Life is Strange: True Colors
                                </h4>
                                <p>September 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Deathloop
                                </h4>
                                <p>September 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Back 4 Blood
                                </h4>
                                <p>October 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Dying Light 2
                                </h4>
                                <p>June 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Scarlet Nexus
                                </h4>
                                <p>June 2021</p>
                            </div>
                        </div>
                    </li>
                    <li class="list_item">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="h-5">
                                    Vampire the Masquerade: Bloodlines 2
                                </h4>
                                <p>March 2022</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<include href="views/footer.html"/>
<include href="views/global-scripts.html" />
</body>
</html>