<header>
    <nav class="navbar navbar-expand navbar-light">
        <a class="navbar-brand" href="/game-tracker/">Home Page</a>
        <div class="navbar-nav flex-row collapse navbar-collapse">

            <!-- Left Side Anchors -->
            <a class="nav-link" href="/game-tracker/">Home</a>
            <a class="nav-link" href="/game-tracker/profile">Profile</a>
            <a class="nav-link mr-auto" href="/game-tracker/search">Games</a>

            <!-- Right Side Anchors -->
            <form class="" method="get" action="/game-tracker/search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a game...">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <check if="{{ isset(@SESSION.user) }}">
                <true>
                    <a class="nav-link" href="/game-tracker/logout">Log Out</a>
                </true>
                <false>
                    <a class="nav-link" href="/game-tracker/login">Login</a>
                </false>
            </check>
        </div>
    </nav>
</header>