<include href="views/header.html"/>

<body>
<link href="../styles/main-styles.css" rel="stylesheet">

<include href="views/navbar.html"/>

<div class="container">
    <div class="row">
        <!-- Trying for a 8-4 split theme for the entire website when using 2 columns -->
        <div class="col-8 px-3">
            <h2 class="pb-3">{{ @user->getUserName() }}'s Game List</h2>
            <div class="row filter-bar mx-0">
                <span class="col filter">Option 1</span>
                <span class="col filter">Option 2</span>
                <span class="col filter">Option 3</span>
                <span class="col filter">Option 4</span>
                <span class="col filter">Option 5</span>
            </div>
        </div>
        <div class="col-4">
            <img class="w-50 mx-auto d-block rounded-pill mb-3" src="../images/avatar-placeholder.png">
            <p>Bio goes here spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam
                spam spam spam spam spam spam spam spam spam</p>
        </div>
    </div>

</div>

<include href="views/global-scripts.html"/>
</body>
</html>