<include href="views/header.html"/>

<body>

<include href="views/navbar.html"/>

<div class="container short_container pt-4">
    <div class="row">
        <!-- Trying for a 8-4 split theme for the entire website when using 2 columns -->
        <div class="col-8 px-3">
            <h2 class="pb-3">{{ @user->getUserName() }}'s Game List</h2>
            <div class="row filter-bar mx-0 mb-4">
                <span class="col filter">Option 1</span>
                <span class="col filter">Option 2</span>
                <span class="col filter">Option 3</span>
                <span class="col filter">Option 4</span>
                <span class="col filter">Option 5</span>
            </div>
            <div id="gameList">

            </div>
        </div>
        <div class="col-4">
            <img class="profile-picture mx-auto d-block rounded-pill mb-3" id="avatar"
                 src="{{ !empty(@user->getAvatar()) ? @user->getAvatar() : '/game-tracker/images/avatar-placeholder.png' }}">
            <p class="mb-4">Bio goes here spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam spam
                spam spam spam spam spam spam spam spam spam</p>

            <check if="{{ isset(@SESSION.user) }}">
                <button class="btn btn-success w-100" id="avatarUpload">
                    Upload new Avatar
                </button>
            </check>
        </div>
    </div>
</div>


<div id="overlay" class="overlay" onclick="closeDialogue()"></div>

<div id="avatarBox" class="dialog-container d-flex flex-column">
    <div class="d-flex justify-content-between align-items-start mb-3">
        <h2>Upload new Avatar</h2>
        <button class="close-button" onclick="closeDialogue()">&times;</button>
    </div>
    <div class="d-flex flex-row">
        <img class="profile-picture d-block rounded-pill mb-3 mr-5" id="preview" src="/game-tracker/images/avatar-placeholder.png">
        <div class="w-75 d-flex flex-column">
            <h5 class="">Please select an image file:</h5>
            <div class="custom-file w-75">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" name="avatar" for="image-input">Upload image file</label>
            </div>

            <div class="d-flex flex-row-reverse mt-auto mr-1 mb-1">
                <button class="btn btn-primary" id="upload">Upload Avatar</button>
            </div>

        </div>

    </div>
</div>

<template id="gameTemplate">
    <a class="game-box" href="#" id="gameId">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column flex-grow-1">
                <span><b id="title">Game Title</b> - <span id="platform">Platform</span></span>
                <p class="mb-1" id="description">Description</p>
            </div>
            <div class="d-flex align-items-center text-nowrap ml-4">
                <h5 id="status">Status</h5>

            </div>
        </div>
    </a>
</template>

<include href="views/footer.html"/>
<include href="views/global-scripts.html"/>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="/game-tracker/scripts/upload-image.js"></script>
<script src="/game-tracker/scripts/build-game-list.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
</body>
</html>