<include href="views/header.html" />

<body>
<include href="views/navbar.html" />

<div class="container pt-5 pb-5" id="registration">
    <h2>Registration</h2>
    <form class="login" action="#" method="post">
        <div class="form-group">
            <label for="userName">Username
                <input class="form-control" id="username" name="username" value="{{ @username }}">
            </label><br>
            <check if="{{ isset(@errors['username']) }}">
                <span class="err">{{ @errors['username'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label for="password">Password
                <input type="password" class="form-control" name="password" id="password">
            </label><br>
            <check if="{{ isset(@errors['password']) }}">
                <span class="err">{{ @errors['password'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label for="email">Email
                <input type="text" class="form-control" id="email" name="email" value="{{ @userEmail }}">
            </label><br>
            <check if="{{ isset(@errors['email']) }}">
                <span class="err">{{ @errors['email'] }}</span>
            </check>
        </div>
        <button type="submit" class="btn btn-primary bg-success mt-2">Create Account</button>
    </form>
</div>

<include href="views/global-scripts.html" />
</body>
</html>