<include href="views/header.html" />

<body>
<include href="views/navbar.html" />

<check if="{{ @SESSION.user instanceof Admin }}">
    <a class="add-box" href="/game-tracker/add-game">
        <h5 class="mb-1">Click here to add a game!</h5>
    </a>
</check>

<div class="alert-box" id="alert">
    <div class="d-flex align-items-center justify-content-center h-100">
        <span id="alert-content">Success!!</span>
    </div>
</div>

<div class="container pt-4">

    <h2>{{ ucfirst(@search) }}Search Results</h2>

    <form class="mb-4 w-100" method="get" action="/game-tracker/search">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Search for a game...">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <repeat group="{{ @games }}" value="{{ @game }}">
        <a class="game-box" href="#" id="{{ @game->getGameId() }}" onclick="openDialogue({{ @game->getGameId() }})">
            <div class="d-flex flex-column">
                <span><b>{{ @game->getGameName() }}</b> - {{ @game->getGenre() }}</span>
                <p class="mb-1">{{ @game->getDescription() }}</p>
            </div>
        </a>
    </repeat>
</div>

<div id="overlay" class="overlay" onclick="closeDialogue()"></div>

<div id="addGameBox" class="dialog-container d-flex flex-column">
    <div class="d-flex justify-content-between align-items-start">
        <h2>Add Game to Your List</h2>
        <button class="close-button" onclick="closeDialogue()">&times;</button>
    </div>
    <hr class="w-100">
    <h4 id="gameTitle">Game Title</h4>
    <div class="row">
        <div class="col form-group">
            <label for="platform">Select a Platform:</label>
            <select class="custom-select" id="platform">
                <option value="1">Playstation</option>
                <option value="2">Playstation</option>
                <option value="3">Playstation</option>
            </select>
        </div>
        <div class="col form-group">
            <label for="status">Select a Status:</label>
            <select class="custom-select" id="status">
                <option value="1">Backlogged</option>
                <option value="2">In Progress</option>
                <option value="3">Completed</option>
                <option value="4">Dropped</option>
                <option value="5">On Hold</option>
            </select>
        </div>
    </div>
    <button class="btn btn-primary" id="upload">Add to List</button>
</div>


<include href="views/footer.html" />
<include href="views/global-scripts.html" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/game-tracker/scripts/add-game.js"></script>
</body>
</html>