<include href="views/header.html" />

<body>
<include href="views/navbar.html" />

<check if="{{ @SESSION.user instanceof Admin }}">
    <a class="add-box" href="/game-tracker/add-game">
        <h5 class="mb-1">Click here to add a game!</h5>
    </a>
</check>

<div class="container mt-4">

    <h2>{{ ucfirst(@search) }}Search Results</h2>

    <form class="mb-4 w-100" method="get" action="/game-tracker/search">
        <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Search for a game...">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <repeat group="{{ @games }}" value="{{ @game }}">
        <a class="game-box" href="/game-tracker/games/{{ @game->getGameId() }}">
            <div class="d-flex flex-column">
                <span><b>{{ @game->getGameName() }}</b> - {{ @game->getGenre() }}</span>
                <p class="mb-1">{{ @game->getDescription() }}</p>
            </div>
        </a>
    </repeat>
</div>


<include href="views/footer.html" />
<include href="views/global-scripts.html" />
</body>
</html>