.filter-bar{
    background-color: darkgray;
    border: 1px solid black;
    border-left: 0;
}

.nav-link{
    color: rgba(255,255,255,.6)!important;
}

.nav-link:hover{
    color: rgba(255, 255, 255, .8)!important;
}

.nav-link h4{
    margin-bottom: .3rem;
}

.filter{
    padding: .5rem 1rem;
    text-align: center;
    border-left: 1px solid black;
}

.filter:hover{
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.err {
    color: #E9827D;
}

.loginBox{
    border: 3px solid #924038;
    background-color: #808080;
    padding: 1rem;
    border-radius: 15px;
    max-width: 390px;
    margin: 100px auto 0 auto;
}

a.loginBox{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

a.loginBox:hover{
    text-decoration: none;
    background-color: #606060;
}

.icon{
    width: 30px;
    height: 30px;
}

.footer {
    width: 100%;
    padding: 1.25em 0 0 0;
    background-color: #808080;
}

.footer-container{
    color: white;
}

.bi{
    color: white;
}

.btn{
    background-color: #924038;
    border-color: #924038;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url("/game-tracker/images/controllers.png");
    background-repeat: repeat repeat;
    overflow-x: hidden;
}

nav {
    background-color: #808080;
}

.navbar-left{
    justify-content: left;
    margin-right: auto;
    margin-left: 0;
}

.carousel-caption {
    color: white;
    background-color: black;
    opacity: 65%;
    border-radius: 15px;
    padding-top: 0;
    padding-bottom: 20px;
}

.carousel-imageContainer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1600px;
    padding-bottom: 1.5rem;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1600px;

    padding-bottom: 3rem;
    min-height: calc(100vh - 67.6px - 148px);
}

.list{
    list-style-type: none;
    padding-left: 0;
}

.list_item{
    position: relative;
    display: flex;
    padding: 10px 16px 10px 0;
    border-bottom: 1px solid #205EDF;
}

.profile-picture{
    width: 200px;
    height: 200px;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 2;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.dialog-container{
    position: fixed;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 3;
    min-width: 40%;
    max-width: 80%;
    max-height: 80%;
    background-color: white;
}

.dialog-container.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.add-box{
    background-color: #85EA92;
    display: block;
    margin: 1.5rem 10%;
    padding: .5rem 1rem;
    border: 2px solid #12B347;
    border-radius: 10px;
}

.game-box{
    display: block;
    margin: 0 .75rem 1rem .75rem;
    padding: .5rem 1rem;
    border: 2px solid black;
    border-radius: 10px;
}

a.game-box, a.add-box{
    color:black;
    text-decoration: none;
}

a.game-box:hover{
    background-color: rgba(0, 0, 0, .1);
}

a.add-box:hover{
    background-color: #62E473;
}