.filter-bar{
    background-color: darkgray;
    border: 1px solid black;
    border-left: 0;
}

.filter{
    padding: .5rem 1rem;
    text-align: center;
    border-left: 1px solid black;
}

.filter:hover{
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.err {
    color: darkred;
}

.loginBox{
    border: 3px solid #205EDF;
    background-color: #C7D7F7;
    padding: 1rem;
    border-radius: 15px;
    max-width: 390px;
    margin: 0 auto;
}

.icon{
    width: 30px;
    height: 30px;
}

.footer {
    width: 100%;
    padding: 1.25em 0 0 0;
    background-color: #C7D7F7;
}

.footer-top {
    padding: 1rem 0;
    background-color: #60b003;
    text-align: left;
    color: #aaa;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
