.filter-bar{
    background-color: darkgray;
    border: 1px solid black;
    border-left: 0;
}

.nav-link{
    color: rgba(255,255,255,.6)!important;
}

.nav-link h4{
    margin-bottom: .3rem;
}

.filter{
    padding: .5rem 1rem;
    text-align: center;
    border-left: 1px solid black;
}

.filter:hover{
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

.err {
    color: #E9827D;
}

.loginBox{
    display: block;
    border: 3px solid #924038;
    background-color: #808080;
    padding: 1rem;
    border-radius: 15px;
    max-width: 390px;
    margin: 100px auto 0 auto;
}

a.loginBox{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

a.loginBox:hover{
    text-decoration: none;
    background-color: #606060;
}

.icon{
    width: 30px;
    height: 30px;
}

.footer {
    width: 100%;
    padding: 1.25em 0 0 0;
    background-color: #808080;
}

.footer-container{
    color: white;
}

.bi{
    color: white;
}

.btn{
    background-color: #924038;
    border-color: #924038;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url("/game-tracker/images/controllers.png");
    background-repeat: repeat repeat;
    overflow-x: hidden;
}

nav {
    background-color: #808080;
}

.navbar-left{
    justify-content: left;
    margin-right: auto;
    margin-left: 0;
}

.carousel-caption {
    color: white;
    background-color: black;
    opacity: 65%;
    border-radius: 15px;
    padding-top: 0;
    padding-bottom: 20px;
}

.carousel-imageContainer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 1600px;
}

.short_container{
    padding-bottom: 350px;
}

.list{
    list-style-type: none;
    padding-left: 0;
}

.list_item{
    position: relative;
    display: flex;
    padding: 10px 16px 10px 0;
    border-bottom: 1px solid #205EDF;
}